.actual_img {

    display: block;
    text-align: center;
    max-height: 1800px;

}

.actual_img > img {
    text-align: center;
    min-width: 45%;
    max-width: 1080px;
    width: 65%;
    box-shadow: 0 0 100px #000000;
}

.scrolling {
    margin: 0 auto;
    min-width: 60%;
    max-width: 80%;
    max-height: 200%;
    width: 70%;
    height: 80px;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    word-wrap: normal;
}

#myImg {
    padding: 50px;
    height: auto;
}

.scrolling img {
    width: 100px;
    margin: 5px;
    box-shadow: 0 0 10px #000000;
    height: auto;
}

.scrolling img:hover {
    box-shadow: 0 0 10px #ffffff;
}

#img_continer {
    margin-left: 15%;
}

#scrolling {
    display: inline-block;
}

#scroll_Left {
    display: inline-block;
}

#scroll_Right {
    display: inline-block;
}

#img_continer button img {
    height: 80px;
}